{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-console": "warn",
    "semi":"warn",
    "prefer-const": "warn",
    "quotes":["warn","single"],
    "jsx-quotes":["warn","prefer-single"],
    "indent":["warn", 2],
    "comma-dangle":["warn", "always-multiline"],
    "max-len":["warn", {"code":120}],

    "no-unused-vars": "warn",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "no-shadow": "warn",
    "no-return-assign": "warn"
  }
}
