body {
  color: black;
  background: linear-gradient(90deg, #000000 0%, #0f4387 40%, #5fc0ff 80%);
}

.todo-app {
  margin: 2rem auto 0 auto;
  max-width: 550px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.top-panel {
  margin: 1rem 0;
}
.btn-info {
  background: #5fc0ff;
  border-color: #5fc0ff;
}
.btn-info:hover {
  background: #28a6fa;
  border-color: #28a6fa;
}
.btn-info:not(:disabled):not(.disabled):active {
  background: #0099ff;
  border-color: #0099ff;
}
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.btn-info:focus {
  box-shadow: none;
}
.btn-outline-secondary {
  background: #154d91;
  border-color: #154d91;
}
.btn-outline-secondary:hover {
  background: #28a6fa;
  border-color: #28a6fa;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  background: #0099ff;
  border-color: #0099ff;
}
.btn-outline-secondary:focus {
  box-shadow: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.list-group-item {
  border: 2px solid rgb(76 162 226);
}
.btn-outline-success {
  color: #ff6800;
  background-color: transparent;
  background-image: none;
  border-color: #ff6800;
}
.btn-outline-success:hover {
  background-color: #ff6600;
  border-color: #ff6600;
}
.btn-outline-success:focus {
  box-shadow: none;
}
.btn-outline-success:not(:disabled):not(.disabled):active {
  background-color: #ff5400;
  border-color: #ff5400;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
